*{margin:0; padding:0;}
li{list-style:none;}
a{text-decoration:none;}

@font-face {
    font-family: 'NPSfontBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
    font-style: normal;
}